body {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/EvVhCC0deijtsl1b4/videoblocks-programming-code-background-abstract-seamless-loop-animation_bklmxmhjw_thumbnail-full01.png);
}
#pageTitle{
    background-color: black;
    font-family: 'Exo 2', sans-serif;
    color: #fb2e01;
    text-align: center;
    width: 100%;
    height: 150px;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
   
}
#gameWindow{
    border: black 10px;
    border-radius: 15px;
    background-color: grey;
    width: 50%;
    height: 500px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 85px;
    position: relative;
}
#gameImageTest{
    width: 100%;
    height: 100%;
}
#gameDesc{
    font-family: 'Exo 2', sans-serif;
    color: #00FF41;
    text-shadow: 1.5px 0 0 black;
    font-size: 24px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
#borderImage{
    width: 63%;
    height: 670px;
    display: block;
    margin-left: 18%;
    margin-right: 19%;
    position: absolute;
}
#startImage{
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#welcome{
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 32px;
}